<div class="about-container">
  <div>
    <div class="accordion">
      <div>
        <input type="radio" name="example_accordion" id="section1" class="accordion__input">
        <label for="section1" class="accordion__label">About</label>
        <div class="accordion__content">
          <p>SelfEA was made in collaboration between a group of fifth semester students and Erhvervsakademi Sydvest for their Final Semester Exams.
            The Project aims to provide an easy to use photobooth and website for which to respectively take photos at EA held events and parties,
            and an easy way to find said pictures taken with our photobooth.</p>

          <p>

          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<img src="assets/images/stock.jpg" class="side-image">
