<div class="about-container">
  <div>
    <div class="accordion">
      <div>
        <input type="radio" name="example_accordion" id="section1" class="accordion__input">
        <label for="section1" class="accordion__label">About</label>
        <div class="accordion__content">
          <p></p>
          <p>
            The Business Academy Southwest in Esbjerg organizes many events on the school premises, and many students attend these events.
            The IT departments and a group of computer science students, thought that a fun addition to these events would be a photobooth.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
