
.accordion {
  margin: 200px 100px;
  width: 800px;
  max-width: 1200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  background: #cf2e2e;
}

.accordion__label,
.accordion__content {
  padding: 14px 20px;
}

.accordion__label {
  display: block;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
}

.accordion__label:hover {
  background: rgba(0, 0, 0, 0.1);
}



.accordion__content {
  background: #ffffff;
  line-height: 1.6;
  font-size: 0.85em;
}

.accordion__input {
  display: none;
}

.side-image{
  position: absolute;
  top: 245px;
  width: 700px;
  left: 1000px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
