<div class="about-container">
  <div>
    <div class="accordion">
      <div>
        <input type="radio" name="example_accordion" id="section1" class="accordion__input">
        <label for="section1" class="accordion__label">Contact</label>
        <div class="accordion__content">
          <p></p>
          <p>
            IT-Support E-mail: itsupport@easv.dk
          </p>
          <p>
            +45 4177 5735
          </p>
          <p>
            E-mail: itsupport@easv.dk
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
