<body>
    <div class="main">
        <div class="signup-container">
            <div class="signup-form">
                <form [formGroup]="registerForm" action="register">
                    <input type="text" formControlName="username" name="username" id="username" placeholder="Username"><br>
                    <input type="text" formControlName="email" name="email" id="email" placeholder="Email"><br>
                    <input type="text" formControlName="phone" name="phone" id="phone" placeholder="Phone number">
                    <input type="password" formControlName="password" name="password" id="password" placeholder="Password"><br>
                </form>
            </div>
            <button class="btn login" (click)="register()">Register</button><br>
        </div>
    </div>
</body>