<body>
    <div class="main">
        <div class="login-container">
            <div class="login-form">
                <form [formGroup]="loginForm" action="login">
                    <input formControlName="username" type="text" name="username" id="username" placeholder="Username"><br>
                    <input formControlName="password" type="password" name="password" id="password" placeholder="Password"><br>
                </form>
            </div>
            <button class="btn login" (click)="login()">Login</button><br>
            <button class="btn signup" (click)="signup()">Sign up</button>
        </div>
    </div>
</body>